/* Sticky footer styles
-------------------------------------------------- */
body {
  margin: 10px 0 0 0 !important;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.text-muted {
  margin: 20px 0;
  font-family: sans-serif;
  color: #8c8c8c;
  font-size: 14px;
}
